/*
*/
/* 
    Created on : 11.09.2016, 08:24:37
    Author     : Marco Ammon (Clubfan)
*/
@import "bootstrap/less/variables.less";

.jumbotron {
	color: @navbar-default-link-active-bg;
	background-color: @navbar-default-link-color;
}
.control-label {
	text-align: left !important;
}
