/*
*/
/* 
    Created on : 11.05.2016, 20:06:50
    Author     : Marco Ammon <ammon.marco@t-online.de>
*/
//Import bootstrap's variables'
@import "bootstrap/less/variables.less";

.übersicht-box {
	background-color: @navbar-default-bg;
	margin: 10px;
	color: @navbar-default-color;
	font-size: 18pt;
	text-align: center;
}
.übersicht-box-float {
	color: @navbar-default-color;
	background-color: @navbar-default-bg;
	margin: 10px;
	margin-top: 20px;
	float:right;
}
#main-content > div > p > a {
	color: @navbar-default-color;	
}
#main-content > div > p > a:visited {
	color: @navbar-default-link-active-color;
}
#main-content > div > p > a:hover {
	color: @navbar-default-bg;
}
/*@media (min-width: @screen-md-min){
	#main-content > div > p {
		font-size: 15pt;
	}
}*/
@media (max-width:991px){
	#main-heading {
		margin-top: 0px;
	}	
}
@media (max-width: 1199px){
	.übersicht-box-float {
		margin-top: 0px !important;
	}
}
